* {
    margin: 0;
    padding: 0;
}
.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 60px;
    height: 100vh;
    background: linear-gradient(rgb(0, 255, 234), rgb(0, 0, 0));
}
.h1 {
    font-size: 48px;
}
.p {
    font-size: 24px;
}